/* About */

#page-about {
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-columns: auto 550px;
}

h3 {
  grid-column: 1/3;
  align-self: end;
  margin: auto;
}

.pic-rebecca {
  max-width: 400px;
  grid-area: 2/2;
}

.about-section {
  margin: 0 auto;
}

.about-text {
  grid-area: 2/1;
  max-width: 600px;
  margin-top: 20px;
}

.language-tools-heading {
  grid-area: 3/1;
  font-size: 23px;
  margin: 15px 0px 10px 0px;
}
