@import url(header-footer.css);
@import url(home.css);
@import url(projects.css);
@import url(about.css);
@import url(contact.css);

/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: #fbf4ff;
}

main {
  background-image: url(../images/oooscillate4.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 99;
}

.scroll-page {
  height: 100vh;
}

.scroll-page-home {
  height: 100vh;
}

a {
  font-family: timonium, sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #518a62;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: timonium, sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #518a62;
}

h2,
h3,
h4,
h5 {
  text-transform: lowercase;
  font-size: 50px;
  padding-top: 30px;
}

p {
  font-family: input-mono-compressed, monospace;
  font-weight: 800;
  font-style: normal;
  color: #518a62;
}

/* Responsive */

@media (max-width: 768px) {
  main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-attachment: fixed;
  }

  .scroll-page {
    height: unset;
  }

  h2,
  h3,
  h5 {
    font-size: 40px;
  }

  .scroll-page-home {
    height: unset;
  }
}

@media (hover: none) {
  main {
    background-attachment: initial;
  }
}
